
#root {
    min-height: 100vh;
    background-color: var(--background);


}

.main-content {
    background-color: var(--background-accent);
    
    padding-bottom: 100px;
    border-left: 0.5px solid rgba(255, 255, 255, 0.475);
    border-right: 0.5px solid rgba(255, 255, 255, 0.475);
    overflow-y: auto;
    
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 70%;

    min-height: 100vh;

    overflow-x: hidden;

}

#archive-content {
    margin-top: 50px;
}

.wrapper {
    display: flex;
    
}

.sidebar {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: calc((100vw - 1024px)/2);
    padding: 30px;
}

th {
    padding: 10px;
}

body {
    margin: 0%;
    background-color: var(--background);

    color: white;

    font-family: Inter Var,Inter,-apple-system,BlinkMacSystemFont,San Francisco,Segoe UI,Roboto,Helvetica Neue,sans-serif;
}

#current-image {
    width: 70%;
    margin: 20px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.32);
}

#map-section {
    width: 100%;
}

#guess-content {
    width: 100%;
}

#map {
    height: 500px; 
    width: 80%;
    border-radius: 5px;
    background-color: black;
    margin-bottom: 20px;
}

.centre-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section {
    margin: 0%;
    padding: 15px;
    width: 100%;

}

#selectedCoords {
    padding: 10px;
} 
#selectedSubmit {

}
#loggedIn {
    padding: 10px;
}
#logout {

}

input {
    background-color: var(--background);
    color: white;
}
button {
    background-color: var(--background);
    color: white;
}

a:visited {
    color: white;
} 
a {
    color: white;
    cursor: pointer;
    text-decoration: underline;
}
#archivePersonalResults {
    text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: var(--background-accent);
}
table {
    width:100%
}
